<!-- templates-woodcutting.html -->
<template id="woodcutting-modifiers">
    <div class="col-12">
        <div class="block block-rounded">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="block-content block-content-full flexy nowrap content-justified">
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded">
                            Bird Nest Chance: {{ modifiers.birdNestChance }}% (Base: {{ modifiers.birdNestBase }}%)
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded">
                            Bird Nest Quantity: {{ modifiers.birdNestQuantity }}
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded">
                            Raven Nest Chance: {{ modifiers.ravenNestChance }}% (Base: {{ modifiers.ravenNestBase }}%)
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded"
                              v-if="modifiers.stardustChance > 0">
                            Stardust Chance: {{ modifiers.stardustChance }}%
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded"
                              v-if="modifiers.ashChance > 0">
                            Ash Chance: {{ modifiers.ashChance }}%
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded"
                              v-if="modifiers.shaftChance > 0">
                            Shaft Chance: {{ modifiers.shaftChance }}%
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded"
                              v-if="modifiers.gemChance > 0">
                            Gem Chance: {{ modifiers.gemChance }}%
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded"
                              v-if="modifiers.jewelryChance > 0">
                            Jewelry Chance: {{ modifiers.jewelryChance }}%
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded"
                              v-for="tree in modifiers.doublingChances">
                            Chance to Double {{ tree.name }}: {{ tree.chance }}%
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded">
                            Logs Doubled: {{ modifiers.doubleLogs }}
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded">
                            Mastery Bonus: {{ modifiers.masteryModifier }}%
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded">
                            XP Bonus: {{ modifiers.xPModifier }}%
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded"
                              v-if="modifiers.circletChance > 0">
                            Circlet of Rhaelex Chance: {{ modifiers.circletChance }}%
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded"
                              v-if="modifiers.stoneChance > 0">
                            Mysterious Stone Chance: {{ modifiers.stoneChance }}%
                        </span>
                        <span class="font-w400 font-size-sm mr-2 content-item text-success padded"
                              v-if="modifiers.signetChance > 0">
                            Signet Half A Chance: {{ modifiers.signetChance }}%
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>