<!-- templates.html -->
<template id="combat-modifiers">
    <div class="col-8">
        <h5 class="font-w400 font-size-sm text-combat-smoke m-1">Rune Preservation</h5>
    </div>
    <div class="col-4">
        <h5 class="font-w600 font-size-sm text-combat-smoke text-right m-1">{{ modifiers.runePreservationChance }}%</h5>
    </div>
    <div class="col-8">
        <h5 class="font-w400 font-size-sm text-combat-smoke m-1">Ammo Preservation</h5>
    </div>
    <div class="col-4">
        <h5 class="font-w600 font-size-sm text-combat-smoke text-right m-1">{{ modifiers.ammoPreservationChance }}%</h5>
    </div>
    <div class="col-8">
        <h5 class="font-w400 font-size-sm text-combat-smoke m-1">Double Loot Chance</h5>
    </div>
    <div class="col-4">
        <h5 class="font-w600 font-size-sm text-combat-smoke text-right m-1">{{ modifiers.combatLootDoubleChance }}%</h5>
    </div>
    <div class="col-8">
        <h5 class="font-w400 font-size-sm text-combat-smoke m-1">Increased Combat GP</h5>
    </div>
    <div class="col-4">
        <h5 class="font-w600 font-size-sm text-combat-smoke text-right m-1">{{ modifiers.increasedCombatGP }}%</h5>
    </div>
    <div class="col-8" v-if="modifiers.meleeGPMulti > 0">
        <h5 class="font-w400 font-size-sm text-combat-smoke m-1">Melee Damage GP</h5>
    </div>
    <div class="col-4" v-if="modifiers.meleeGPMulti > 0">
        <h5 class="font-w600 font-size-sm text-combat-smoke text-right m-1">{{ modifiers.meleeGPMulti }}%</h5>
    </div>
    <div class="col-8" v-if="modifiers.rangedGPMulti > 0">
        <h5 class="font-w400 font-size-sm text-combat-smoke m-1">Ranged Damage GP</h5>
    </div>
    <div class="col-4" v-if="modifiers.rangedGPMulti > 0">
        <h5 class="font-w600 font-size-sm text-combat-smoke text-right m-1">{{ modifiers.rangedGPMulti }}%</h5>
    </div>
    <div class="col-8" v-if="modifiers.magicGPMulti > 0">
        <h5 class="font-w400 font-size-sm text-combat-smoke m-1">Magic Damage GP</h5>
    </div>
    <div class="col-4" v-if="modifiers.magicGPMulti > 0">
        <h5 class="font-w600 font-size-sm text-combat-smoke text-right m-1">{{ modifiers.magicGPMulti }}%</h5>
    </div>
</template>